{% extends "Workshop_RoomsMgt/base.html" %}
{% block content %}


            <div class="col-md-23">
              <div class="content-section">
                <h3>User Manage Rooms Bar</h3>
                <p class='text-muted'>You can add new room here or reserve one of already existing rooms.
                  <ul class="list-group">
                    <a href="{% url 'new' %}" class="list-group-item list-group-item-action">Add new Room</a>
                    <a href="{% url 'reservation_select' %}" class="list-group-item list-group-item-action">Reserve existing room</a>
                    <p class="list-group-item list-group-item-action">Date now: {{ today }}</p>
                  </ul>
                </p>
              </div>
            </div>



        <form method="GET" action="">
            <div class="content-section">
            <div class="form-group">

            <h3>Search</h3>
        <label>Please provide name of Room:</label>
        <input class="form-control" type="text" name="name" placeholder="Name of Room"></input>
        <label>Please provide min number of guest in room:</label>
        <input class="form-control" type="number" name="min"placeholder="Min nr of guest"></input>
        <label>When you plan to book a room:</label>
        <input class="form-control" type="date" name="date" placeholder="Date"></input>
        <label>Projector_availability</label>
        <select class="form-control" name="pa">
            <option></option>
            <option value="True">True</option>
            <option value="False">False</option>
        </select>
    </div>
          <button type="submit" class="btn btn-primary">Search!</button>
            </div>
        </form>



            <div class="col-md-20">

                <h3>All Rooms:</h3>

    {% for r in Room %}
            <div class="card mb-4" style="width: 45rem;">
                <div class="row no-gutters">
                        <div class="col-md-12">
                            <img src="http://images10.fotosik.pl/414/97b69672e60bf433.jpg" class="card-img-top" alt="Room"></div>
                                <div class="col-md-10">
              <div class="card-body">
                <h5 class="card-title">Room: {{ r.name|capfirst }} ({{r.capacity}})</h5>
                  {% for reservation in r.Rooms.all %}
                      {% if reservation.date == today %}
                    <p class="alert alert-danger">Reservation: Room already booked for today!</p>
                      {% endif %}
                  {% endfor %}
                    <a href="{{ r.pk }}" class="card-link">Room Details</a>
                    <a href="reservation/{{ r.pk }}" class="card-link">Reserve Room</a>
                    <a href="modify/{{ r.pk }}" class="card-link">Edit Room</a>
                    <a href="delete/{{ r.pk }}" class="card-link">Delete Room</a>
              </div>
                </div>
                 </div>
                </div>
    {% endfor %}
                </div>
{% endblock %}
