{% extends "Workshop_RoomsMgt/base.html" %}
{% load crispy_forms_tags %}
{% block content %}

        <div class="col-md-24">
          <div class="content-section">
            <h3>Room details</h3>
            <p class='text-muted'>Here you can get information about specific room:
              <ul class="list-group">
                <li class="list-group-item list-group-item-light">Name: {{ Room.name }}</li>
                <li class="list-group-item list-group-item-light">Capacity: {{ Room.capacity }}</li>
                <li class="list-group-item list-group-item-light">Projector_availability: {{ Room.projector_availability }}</li>
              </ul>
              <div class="card-body">
                    <a href="reservation/{{ Room.pk }}" class="card-link">Reserve Room</a>
                    <a href="modify/{{ Room.pk }}" class="card-link">Edit Room</a>
                    <a href="delete/{{ Room.pk }}" class="card-link">Delete Room</a>
              </div>
            </p>
              <p class='text-muted'>Here you can get information about current reservation of this room:
              {% for r in Reservation %}
              <ul class="list-group">
                <div class="card mb-4" style="width: 43rem;">
                <li class="list-group-item list-group-item-light">Reservation: {{ r.comment }}</li>
                <li class="list-group-item list-group-item-light">Date: {{ r.date }}</li>
                </div>
              </ul>
               {% endfor %}
              </p>
          </div>
        </div>
      </div>
    </main>

{% endblock %}